.nd {
    position: relative;
}

.nd .tieude {
    font-weight: 500;
    font-size: large;
    padding: 7px 2px 7px 0;
    border-bottom: solid var(--color) 1px;
}

.nd .nav.anh {
    justify-content: space-between;
    margin: 12px 12px;
}

.nd .nav .truyen {
    width: min-content;
    position: relative;
    width: 129px;
    height: 192px;
}

.nd .nav .truyen .item {
    display: grid;
    text-decoration: none;
    color: white;
}

.nd .nav .truyen .item .info {
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: rgba(78,78,78,0.7);
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 4px 0;
    font-size: small;
}