.nd {
    width: 832px;
}

.nd .nav {
    flex-flow: column wrap;
}

.nd .nav.nav2 {
    display: grid;
    grid-template-columns: 266px 566px;
}

.nd .nav .tieude {
    font-weight: 500;
    font-size: large;
    padding: 7px 2px 7px 0;
    margin-bottom: 15px;
    border-bottom: solid gray 1px;
    width: fit-content;
    grid-column: 1/3;
}

.nd .nav .img {
    height: 330px;
    width: 231px;
    margin-top: 20px;
}

.nd .nav .item1 {
    display: grid;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    border-bottom: 1px solid gray;
}

.nd .nav .item2 {
    font-size: small;
    margin-top: 10px;
    height: 237px;
    overflow: hidden;

}

.nd .nav .item3 {
    font-size: small;
    border: 1px solid gray;
    color: var(--color);
    position: absolute;
    right: 0;
}

.nd .nav3 {
    height: 724px;
}

.nd .nav3 .item {
    margin-left: 30px;
    padding: 2px 0;
}

.nd .nav3 .item_link {
    font-size: smaller;
    width: fit-content;
    font-weight: 500;
}